<?xml version="1.0"?>
<config>
    <modules>
        <Ig_ShippingTracking>
            <version>0.0.1</version>
        </Ig_ShippingTracking>
    </modules>
    <frontend>
        <routers>
            <shippingtracking>
                <use>standard</use>
                    <args>
                        <module>Ig_ShippingTracking</module>
                        <frontName>lacakpesanan</frontName>
                    </args>
            </shippingtracking>
        </routers>
        <layout>
            <updates>
                <shippingtracking>
                    <file>shippingtracking.xml</file>
                </shippingtracking>
            </updates>
        </layout>
        <translate>
            <modules>
                <shippingtracking>
                    <files>
                        <default>Ig_Order_Status_and_Shipping_Tracking.csv</default>
                    </files>
                </shippingtracking>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <shippingtracking>
                <class>Ig_ShippingTracking_Helper</class>
            </shippingtracking>
        </helpers>
        <blocks>
            <shippingtracking>
                <class>Ig_ShippingTracking_Block</class>
            </shippingtracking>
            <shipping>
                <rewrite>
                    <tracking_popup>Ig_ShippingTracking_Block_Shipping_Tracking_Popup</tracking_popup>
                </rewrite>
            </shipping>
        </blocks>
    </global>
    <adminhtml>
        <menu>
          <ig>
            <title>Integravity</title>
            <sort_order>80</sort_order>
            <children>
              <shippingtracking>
                <title>Order Status &amp; Shipping Tracking</title>
                <sort_order>1500</sort_order>
                <action>adminhtml/system_config/edit/section/shippingtracking</action>
              </shippingtracking>
            </children>
          </ig>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ig>
                            <title>Integravity</title>
                            <sort_order>80</sort_order>
                            <children>
                                <shippingtracking translate="title">
                                    <title>Order Status &amp; Shipping Tracking</title>
                                    <sort_order>1500</sort_order>
                                </shippingtracking>
                            </children>
                        </ig>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingtracking translate="title">
                                            <title>Order Status &amp; Shipping Tracking Settings</title>
                                        </shippingtracking>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 